body 
{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 15px;
    min-width: 320px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.signup{
	background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0, 0, 0, 50)
  ),url(../img/signup1.jpg);
	background-repeat: no-repeat;
	/* background-position: center ;
	background-size: cover;
	background-attachment: fixed;
	background-color: #464646; */
	width: 100vh ;
	height: 100vh;
	
}

/* .signup #logo
{
	position: absolute;
	top: 10%;
	left: 10%;
} */

.signin{
	background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0, 0, 0, 50)
  ),url(../img/signup1.jpg);
	width: 100% ;
	height: 100vh;
}

.loan-application{
	background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0, 0, 0, 50)
  ),url(../img/loanpage.jpg);
	background-repeat: no-repeat;
	width: 100% ;
	height: 100vh;
}

.forgotPassword 
{
	background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0, 0, 0, 50)
  ),url(../img/signup1.jpg);
	background-repeat: no-repeat;
	width: 100% ;
	height: 100vh;
}

.resetPassword
{
	background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0, 0, 0, 50)
  ),url(../img/signup1.jpg);
	background-repeat: no-repeat;
	width: 100% ;
	height: 100vh;
}

.centered_div
  {
  	margin:  10% auto;
  	background-color: #FFFFFF;
    border-radius: 10px; 
    width: 450px;
    padding: 1px;
		text-align: center;
 } 

 .signUp_div
 {
		margin:  10% auto;
  	background-color: #FFFFFF;
    border-radius: 10px; 
    width: 450px;
		padding: 1px;
		margin-left: 580px;
		text-align: center;
 }
 
 .loan_centered_div
  {
  	margin:  0 auto;
  	background-color: #FFFFFF;
    border-radius: 10px; 
    width: 450px;
    padding: 1px;
		text-align: center;
		height: 600px;

 } 

/*Global */
form {
    display: block;
    margin-top: 0em;
}

.form-container 
{
    margin-top:80px; 
		margin-bottom: 80px;  
}

.container
{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	width: 80%;
	margin-bottom: 20px;
	overflow: hidden;
	margin-left: 200px;  
	grid-gap: 200px;
}

a
{
	color: #64B058;
	text-decoration: none;
}

a:hover
{
	color: #363377;
	text-decoration: underline;
	cursor: pointer;
}

.info
{
	color: #363377;
}

.highlight
{
	color: #64B058;
}

/* Header **/

header
{
	color: #FFFFFF;
	padding-top: 30px;
	height: 100vh; 
	background-image: url("../img/lights.jpg");
 	background-repeat: no-repeat;
	background-position: _er;
	
}

header a
{
	text-decoration: none;
	color: #FFFFFF;
}

header nav a:hover
{
	color: #64B058;
	text-decoration: underline;
	cursor: pointer;
}

#logo
{
	float: left;
	margin-top: 20px;
	color: #FFFFFF;
}

#quiklogo
{
	float: left;
	margin-top: -30px;
	color: #FFFFFF;
	margin-left: 100px;
}

#quicklogo
{
	float: left;
	margin-top: -90px;
	color: #FFFFFF;
	margin-left: 100px;
}

#quiklogo a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}

#quicklogo a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1
{
	margin: 0;
	margin-left:136px;
	font-family: 'Trebuchet MS';
}

header #logo a:hover
{
	text-decoration: none; 
}

header nav
{
	float: right;
	margin-top: 5px;
	padding-top:0;
	overflow: hidden;
}

.getStarted-btn
{
	background-color: #FFFFFF;
	border-radius: 4px;
    color: #363377;
    height: 50px;
    width:  180px;
    margin-top: -7px;
    font-family: 'Trebuchet MS';
    border: 0px solid;
		font-size: 20px;
		text-transform: uppercase;
		cursor: pointer;
		font-weight: bold;
 }


.nav-button a:hover
 {
 	color: #64B058;
 }

 .login-btn
 {
	 	background-color: #FFFFFF;
	 	border-radius: 4px;
  	color: #363377;
    font-family: 'Trebuchet MS';
    border: 0px solid;
    font-size: 18px;
		cursor: pointer;
		height: 40px;
		width:  86px;
		margin-top: -7px;
		text-transform: uppercase;
		font-weight: bold;
 }

 
.highlight header .active
 {
 	color: #64B058;
 	font-weight: bold;
 }

 .highlighted 
 {
 	color: #64B058;
 	font-weight: bold;
 }

 .highlighted:hover
 {
	color: #FFFFFF;
 }
 
/* Links inside the navbar */
.navbar a 
{
  float: left;
  font-size: 16px;
  display: inline;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 5px;
}

/* The dropdown container */
.submenu 
{
  float: left;
  overflow: hidden;
}

.submenu-drop
 {
  font-size: 18px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

/* submenu content (hidden by default) */
.submenu-content 
{
  display: none;
  position: absolute;
  background-color: #363377;
  min-width: 160px;
  
 }

/* Links inside the submenu */
.submenu-content a 
{
  float: none;
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu:hover .submenu-content
{
  display: block;
}

/* landing */
#landing-page
{
 	width:100%; 
	text-align: center; 
	color: #64B058;
	margin-bottom: 0;
	overflow: hidden;
}

#landing-page h1
{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;

}

#landing-page p
{
	font-size: 25px;
	color: #FFFFFF;
	margin-left: 320px;  
	width: 60%;
}

/*testimonials */
#testimonials 
{	
	color: rgb(4, 6, 92);
	padding-top: 70px;
	padding-bottom: 60px;
	height: 100vh; 
}


#testimonials h2
{
	text-align: center;
	text-transform: uppercase;
	color: rgb(4, 6, 92);
	font-size: 2.5em;
	margin-top: -15px;
}

#testimonials h3
{
	color: rgb(4, 6, 92);
	font-size: 1.5em;
}

.customer
{
	float: left;
	width: 100%;
	padding: 5px;
	text-align: center;	
}

.customer img
{
	margin-top: 20px;	
}

.partner-container
{
	float: left;
	width: 80%;
	margin-left: 500px;
}

.partner-logo
{
	float: left;
 	width: 20%; 
	padding: 10px;
	height: 20px;
}

footer
{
	color: #FFFFFF;
	background-color: #363377;
	opacity: 0.8;
  padding-left: 110px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 100px;
	grid-row-gap: 50px;
}

footer h2
{
	color: #64B058;
}

.footer-Menu
{ 
	width: 30%;
	float: left;
	margin-top: 40px;
}

.footer-Menu h2
{
	color: #64B058;
}

.footer ul
{
	list-style-type: none;
}

.contact
{ 
	width: 70%;
	float: left;
	padding: 10px;
	text-align: left;
	margin-top: 40px;
}

.contact h2
{
	color: #64B058;
	text-transform: uppercase;
}

.social-media ul
{
	list-style-type: none;
}

#whatsapp
{
	color: #64B058;
}

.copyright
{
	text-align: center;
}

.page_title 
{
    font-weight: bold;
    color: #64B058;
}

.input 
{
  height: 30px;
  width: 280px;
  padding: 5px;
  margin: 3px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

/*buttons*/

.submit 
{
    background-color: #64B058;
		border-radius: 4px;
    color: #FFFFFF;
    height: 40px;
    width:  290px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    border: 0px solid;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;;
  }

  .submit:hover
  {
  	color: black;

    background-color: #827FB2;
  }

 .create
  {
  	background-image: url(../img/landing.jpg) no repeat;
  }


 .centered_div p
 {
 	color: #363377;
 }

/*Loan Application*/
.loan-form-container
{
  	margin:  0 auto ;
  	background-color: #363377;
    border-radius: 10px;
    max-width: 55%;
    padding: 1px;
    margin-top:40px; 
    margin-bottom: 80px;
 }

.loan-submit
{
  	margin-left: 220px;
  	margin-bottom: 30px;
  	text-transform: uppercase;
}

.input-control
{
	width: 35% !important;
	margin-left: 40px;
}

.label-control
{
	width:255px;
    display:inline-block;
	color: #FFFFFF;
	padding-left: 10px;
	margin-left: 50px;
	text-align: right;
}

.dropdown-control
{
	width: 292px ;
	margin-left: 0px;
	height: 40px;
  	padding: 5px;
  	/*margin: 3px;*/
  	border: 1px solid #c0c0c0;
  	border-radius: 4px;
}


.div-apply h2
{
	text-align: center;
}

.div-apply p
{
	margin-left: 110px;
	color: #FFFFFF;
	display:inline-block;
}

/*loan History*/
.show-loan-info
{
	width: 90%;
	margin: auto;
	overflow: hidden;
	margin-left: 85px;
}

.personal-info
{
	background-color: #718EA4; 
	width: 18%;
	height: 120px;
	color:	#FFFFFF;
	float: left;
	padding: 10px;
	text-align: center;
}

.personal-info h3
{
	font-size: 22px;
	text-align: center;
	padding: 0;
}

.loan-amount
{
	background-color: #496D89; 
	width: 18%;
	height: 120px;
	color:	#FFFFFF;
	float: left;
	padding: 10px;
	text-align: center;	
}

.loan-amount h3
{
	font-size: 22px;
	text-align: center;
	padding: 0;
}

.loan-balance
{
	background-color: #718EA4; 
	width: 18%;
	height: 120px;
	color:	#FFFFFF;
	float: left;
	padding: 10px;
}

.loan-balance h3
{
	font-size: 22px;
	text-align: center;
	padding: 0;
}

.loan-balance p
{
	
	text-align: center;
	
}

.loan-repayment
{
	background-color: #496D89; 
	width: 18%;
	height: 120px;
	color:	#FFFFFF;
	text-align: center;
	float: left;
	padding: 10px;
}

.loan-repayment h3
{
	font-size: 22px;
	text-align: center;
	padding: 0;
}

.rate
{
	background-color: #718EA4; 
	width: 18%;
	height: 120px;
	color:	#FFFFFF;
	text-align: center;
	float: left;
	padding: 10px;
}

.rate h3
{
	font-size: 22px;
	text-align: center;
	padding: 0;
}

/*tables*/
.loan-info-table
{	margin-top: 50PX;
	margin-left: 89px;
	border-collapse: collapse;
	width: 87%;
}

.loan-info-table, td, th 
{
  padding: 15px;
}

.loan-info-table a 
{
  color: #363377;
  font-weight: bold;
  text-decoration: underline;
}

.loan-info-table a:hover 
{
  color: #A52A2A;
  
}

tr:nth-child(even) 
{
	background-color: #718EA4;
}

th 
{
  text-align: left;
  color: #FFFFFF;
  background-color: #496D89;
}

td 
{
  text-align: center;
}

.loan-details
{
	overflow-x:auto;
}

/*Media Queries*/


@media only screen and (max-width : 767px)
/* , (min-device-width: 768px) and (max-device-width: 1024px) */
{	
	body{
		width:100vh;
		overflow-x: hidden;

	}
	header a
{
	text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-right: 15px;
}

#logo
{
	float: left;
	margin-top: 5px;
	padding-top: 0px;
}

#logo h1
{
	margin: 0;
	margin-left:70px;
	font-family: 'Trebuchet MS';
}

.highlight
{
	color: #64B058
}

header #logo a:hover
{
	text-decoration: none; 
}

header nav
{
    float: none;
    display: inline-block;
    margin-top: 5px;
	padding-top:0;
    overflow: hidden;
    margin-left: 30px;
}

#menu-highlight
{
    color:#64B058;
}
.container{
	display:grid; 
	grid-template-columns: repeat(1, 1fr);
}

.submenu-drop
 {
  font-size: 15px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

/* submenu content (hidden by default) */
 .submenu-content 
{
  display: none;
  position: absolute;
  background-color: #363377;
  min-width: 100px;
 }

.getStarted-btn
{
	background-color: #FFFFFF;
	border-radius: 4px;
    color: #363377;
    height: 40px;
    width:  120px;
    margin-top: -7px;
    font-family: 'Trebuchet MS';
    border: 0px solid;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
 }

 .login-btn
 {
	background-color: #FFFFFF;
	border-radius: 4px;
  	color: #363377;
    font-family: 'Trebuchet MS';
    border: 0px solid;
    font-size: 14px;
	cursor: pointer;
	height: 30px;
	width:  70px;
	margin-top: -7px;
	text-transform: uppercase;
	font-weight: bold;
 }

#landing-page
{
 	width:100%; 
	text-align: center; 
    color: #64B058;
    margin-top: 30px;
	margin-bottom: 0;
	overflow: hidden;
}

#landing-page h1
{
	margin-top: 10px;
	font-size: 30px;
	margin-bottom: 10px;
}

#landing-page p
{
	font-size: 15px;
	color: #FFFFFF;
	margin-left: 60px;   
    width: 65%;
}
#testimonials 
{	
	color: rgb(4, 6, 92);
	padding-top: 70px;
		padding-bottom: 60px;
		float: none;
}

#testimonials h2
{
	text-align: center;
	text-transform: uppercase;
	color: rgb(4, 6, 92);
	font-size: 1.5em;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

#testimonials h3
{
	color: rgb(4, 6, 92);
    font-size: 1.5em;
    margin-left: 50px;
}

#testimonials p
{
    margin-left: 50px;
    font-size: 15px;
	margin-left: 60px;   
    width: 70%;
}

#testimonials img
{
    margin-left: 50px;
}

.customer
{
    float: none;
    text-align: center;
    width: 50vh;
    left:0;
}


.partner-container
{
	float: left; 
	 width: 80%;
	margin-left: 15px;
}

footer
{
	color: #FFFFFF;
	background-color: #363377;
	opacity: 0.8;
	display: none;
}

.footer-Menu
{ 
	width: 30%;
	float: none;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.contact
{ 
	width: 70%;
	float: none;
	padding: 10px;
	text-align: center;
    margin-left: 40px;
}

.social-media
{
    margin-left:20px;
    list-style-type: none;
}

.social-media ul a
{
    list-style-type: none;
    color: #64B058;
    text-decoration: none;
}

.FAQs
{
    margin-top: 20px;
    margin-left:28px;
    text-align: center;
    width:85%;
}
}  
